<div class="search-container">
  <% if admin.searchable? %>
    <div class="searchbox">
      <%= form_tag admin.path, method: :get do %>
        <div class="input-group">
          <%= label_tag :q, icon("fas fa-search"), class: "input-group-text" %>

          <%= search_field_tag :q, params[:q], class: "form-control", autocomplete: "off", placeholder: admin.t("search.placeholder", default: "Search") %>

          <%= link_to icon("fas fa-times"), admin.path, class: "btn btn-clear-search" if params[:q].present? %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if admin.filterable? %>
    <div class="search-filters">
      <%= form_for admin.filters, as: :f, url: admin.path, method: :get, builder: Trestle::Form::Builder, html: { id: nil, class: nil } do |f| %>
        <% persistent_params.each do |k, v| %>
          <%= hidden_field_tag k, v unless k == "f" %>
        <% end %>

        <button type="button" class="btn <%= admin.filters.active(params).any? ? "btn-warning" : "btn-info" %>" data-controller="search-filters"><%= icon("fa fa-filter") %></button>

        <template id="search-filters" type="text/html">
          <% admin.filters.each do |name, filter| %>
            <%= filter.render(f, params[:f]) %>
          <% end %>

          <%= f.submit admin.t("search.filter", default: "Filter"), class: "btn btn-info w-100" %>
          <%= link_to admin.t("search.reset_filters", default: "Reset Filters"), persistent_params.except(:f), class: "btn btn-light btn-sm w-100 mt-2" if admin.filters.active(params).any? %>
        </template>
      <% end %>
    </div>
  <% end %>
</div>
